{{#ui-modal name="profile" class="profile"}}
  <i class="close icon"></i>
  <div class="header">
    <h3>{{broadcastName}}</h3>
  </div>
  <div class="content description">
    <p>{{broadcastInfo}}</p>
  </div>
{{/ui-modal}}
