<div class="ui grid">
  <div class="column">
    <div class="ui segment">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>избранное</th>
            <th>время передачи</th>
            <th>название передачи</th>
            <th>id-передачи</th>
            <th>id-программы</th>
            <th>id-канала</th>
          </tr>
        </thead>
        {{broadcast-list broadcasts=broadcasts}}
      </table>
    </div>
  </div>
</div>

{{outlet}}
