<div class="ui grid three column">
  {{#each model as |channel|}}
  <div class="column">
    <div class="ui segment">
      <div class="ui medium header centered">{{channel.id}}</div>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>рейтинг</th>
            <th>время</th>
            <th>название</th>
          </tr>
        </thead>
        {{program-list programs=channel.programs}}
      </table>
    </div>
  </div>
  {{/each}}
</div>

{{outlet}}
