<h1 class="ui centered grid">Распиcание телеканалов</h1>

<div class="ui grid">
  <div class="column">
    <div class="ui segment">
      <table class="ui celled table">
        <thead>
          <tr>
          <!-- 1. Почему-то заголовки с маленькой буквы. 2. Пользователю точно нужно видеть id программы и канала? 3. Шапку таблицы, наверное, логично вынести в компонент, чтобы она случайно при изменениях в коде не разъехалась с содержимым. -->
            <th>избранное</th>
            <th>время передачи</th>
            <th>название передачи</th>
            <th>id-программы</th>
            <th>id-канала</th>
          </tr>
        </thead>
        {{broadcast-list broadcasts=broadcasts}}
      </table>
    </div>
  </div>
</div>

{{outlet}}
